<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personalized Font Generator</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <style>
        html {
            height: 100%;
            background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Malayalam_Letters_Colash.svg/1200px-Malayalam_Letters_Colash.svg.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        body {
            background: transparent;
        }
    </style>
</head>

<body>
    <div class="container" style="margin-top: 20%; font-family: 'Montserrat', sans-serif;">
        <div class="row">
            <h1 class="display-4 col-sm-12 d-flex text-center title">Personalized Malayalam Font Generator</h1>
        </div>
        <div class="row">
            <form class="input-group" method="POST" action="/upload" enctype="multipart/form-data" style="margin: 1%;">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="file" id="file">
                    <label class="custom-file-label" for="file">Choose file</label>
                </div>
                <div class="input-group-append" style="margin-left: 1%;">
                    <button class="btn btn-primary" type="submit">Upload</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
